@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&family=Source+Sans+Pro");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

:root {
  --bg: linear-gradient(0deg, #fefefe 0%, #eceef8 100%);
  --bg-shape-1: linear-gradient(0deg, transparent 0%, #e9ebf7 75%);
  --bg-shape-2: linear-gradient(90deg, #e2e7ff 0%, transparent 100%);
  --primary-text-color: #1b237e;
  /* --secondary-text-color: #6371c0; */
  --secondary-text-color: #8692d0;
  --accent-text-color: #4050fe;
  --light-color: #f8f9fa;
  --light-border-color: #e1e1e3;
  --card-column-padding: 3.5rem;
  --selection-bg-color: var(--accent-text-color);
  --selection-text-color: var(--light-color);

  /* --xs-breakpoint: 0;
  --sm-breakpoint: 576px;
  --md-breakpoint: 768px;
  --lg-breakpoint: 992px;
  --xl-breakpoint: 1200px;
  --xxl-breakpoint: 1400px; */
}

::selection {
  background-color: var(--selection-bg-color);
  color: var(--selection-text-color);
}

::-moz-selection {
  background-color: var(--selection-bg-color);
  color: var(--selection-text-color);
}

body {
  font-family: "Montserrat";
}

body * {
  z-index: 1;
}

.main {
  width: 100vw;
  height: 100vh;
  background-image: var(--bg);
}

.cards-area::before {
  display: none;
  position: absolute;
  content: "";
  z-index: 0;
  background-image: var(--bg-shape-2);
  width: 35vw;
  height: 35vw;
  clip-path: polygon(21% 19%, 96% 83%, 95% 21%);
  transform: translateY(30px);
}

.bg-shape-1 {
  position: absolute;
  z-index: 0;
  background-image: var(--bg-shape-1);
  bottom: 0px;
  border-radius: 100% 0 0 0;
}

.bg-shape-2 {
  position: absolute;
  z-index: 0;
  background-image: var(--bg-shape-2);
  top: 0px;
  right: 0px;
}

/* Media
============================================= */
@media screen and (min-width: 0) {
  .main-container {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .text-area {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
  }

  .bg-shape-1 {
    width: 42vw;
    transform: translateX(-75px);
    height: 65vh;
  }

  .bg-shape-2 {
    width: 45vw;
    clip-path: polygon(48% 0, 100% 41%, 100% 0);
    height: 45vw;
  }

  #strapline {
    color: var(--secondary-text-color);
  }

  #title {
    color: var(--primary-text-color);
  }

  #title .featured {
    font-size: inherit;
    color: var(--accent-text-color);
  }

  #subtitle {
    color: var(--secondary-text-color);
    line-height: 2rem;
  }

  .btn {
    cursor: pointer;
    width: fit-content;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    outline: none;
    border: none;
    font-weight: 600;
  }

  .btn:hover {
    background-color: #da910a;
    color: var(--light-color);
  }

  .btn-primary {
    background-color: #f6ab02;
    color: var(--light-color);
  }

  .emblem {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
  }

  .emblem .material-icons {
    font-size: inherit;
  }

  .emblem-blue {
    background-color: #bbdefc;
    color: #4088e5;
  }

  .emblem-purple {
    background-color: #e1bee7;
    color: #8d25aa;
  }

  .emblem-yellow {
    background-color: #f5f1a5;
    color: #f6ad31;
  }

  .emblem-green {
    background-color: #c8e6c9;
    color: #4ba450;
  }
  .cards-area {
    margin-bottom: 2.5rem;
    padding-bottom: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
  }

  .card {
    border-radius: 5px;
    background-color: var(--light-color);
    border: 2.5px solid var(--light-border-color);
    padding: 2rem;

    transition: 250ms;
  }

  .card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .card .emblem {
    /* width: 2.75vw;
    height: 2.75vw; */

    width: 50px;
    height: 50px;
    font-size: 32px;
    padding: 1rem;

    margin-right: 1.5rem;
  }

  .card div {
    margin-bottom: 1rem;
  }

  .card .header {
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--primary-text-color);
  }

  .card .text {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--secondary-text-color);
  }

  .btns-area {
    margin-top: 1rem;
  }

  .cards-area .card {
    min-height: 15vw;
    height: fit-content;
    margin-bottom: 0.75rem;
    /* margin: 0.75rem; */
    /* width: 20vw;
     */
  }

  .card-column {
    margin: 0;
    padding: 0;
  }

  h1 {
    word-spacing: 2.5px;
    font-size: 1.8rem;
  }

  h6 {
    font-size: 1rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  h1,
  h5,
  h6 {
    font-weight: 600;
  }

  .text-area div {
    padding-bottom: 1rem;
  }

  #action-btn {
    width: 100%;
  }

  .bg-shape-1 {
    width: 100vw;
  }

  .bg-shape-2 {
    height: 65vw;
  }
}

@media screen and (min-width: 576px) {
  .card .header {
    font-size: 1.5rem;
  }

  .card .text {
    font-size: 1.2rem;
  }

  #action-btn {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h6 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  .main-container {
    padding: 2rem 4rem;
  }

  .cards-area {
    padding-bottom: 2.5rem;
  }
}

@media screen and (min-width: 992px) {
  .cards-area::before {
    display: block;
  }

  .card .header {
    font-size: 1rem;
  }

  .text-area {
    margin-bottom: 0;
    margin-top: 0;
  }

  .main-container {
    flex-direction: row;
    padding: 2rem 0;
  }

  .card .header {
    font-size: 1.2rem;
    /* word-spacing: 4px; */
  }

  .text-area div {
    padding-bottom: 2rem;
  }

  .card {
    padding: 1rem 2rem;
  }

  .text-area {
    padding: 0 2.5rem;
  }

  .cards-area {
    padding: 0 1.5rem;
    margin: auto;
  }

  .bg-shape-1 {
    width: 65vw;
  }
}

@media screen and (min-width: 1200px) {
  .card-header {
    flex-direction: column;

    align-items: flex-start;
  }

  #action-btn {
    width: fit-content;
    font-size: 1rem;
  }

  .card .text {
    font-size: 1rem;
  }

  .text-area div {
    padding-bottom: 2.25rem;
  }

  h1 {
    font-size: 2.75rem;
  }

  .cards-area {
    padding: 0;
    flex-direction: row;
  }

  .card-column {
    width: fit-content;
    display: flex;
    flex-direction: column;
  }

  .card-column:nth-child(1) {
    justify-content: flex-end;
    padding-bottom: var(--card-column-padding);
  }

  .card-column:nth-child(2) {
    justify-content: flex-start;
    padding-top: var(--card-column-padding);
  }

  .cards-area .card {
    /* width: 20vw; */
    margin: 0.25rem;
  }

  .bg-shape-1 {
    width: 60vw;
  }
}

@media screen and (min-width: 1400px) {
  .text-area div {
    padding-bottom: 1.5rem;
  }

  .cards-area .card {
    /* width: 20vw; */
    margin: 0.75rem;
  }

  .card .header {
    font-size: 1.35rem;
    word-spacing: 4px;
  }

  h1 {
    font-size: 3.5rem;
  }

  h6 {
    font-size: 1rem;
  }

  .main-container > div {
    width: 50%;
    height: 100%;
  }

  .bg-shape-1 {
    width: 42vw;
  }
}
